ul {
  list-style: none;
  padding-inline-start: 0px;
}

.ReviewWriting__Container {
  position:relative;
  width: 678px;
  margin: 101px auto 62px;
  margin-top: 40px;
}

.ReviewWriting__head {
  display: flex;
  display: -webkit-flex;
  margin-bottom: 20px;
}

.ReviewWriting__RestaurantName {
  display: block;
  font-size: 28px;
  color: #ff7100;
}

.ReviewWriting__SubText {
  position: relative;
  margin-left: 4px;
}

.ReviewWriting__SubText > span {
  font-size: 16px;
  width: 270px;
  margin: 0;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  line-height: 1.45;
  color: #7F7F7F;
}

.ReviewWriting__Main {
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 16px;
}

.ReviewWriting__Main__Rating {
  display: flex;
  flex-direction: row;
}

.ReviewWriting__Main__Rating > li {
  margin-right: 24px;
}

.ReviewWriting__Main__Rating > li > button > span {
  display: block;
  font-size: 14px;
  margin-top: 8px;
}

.ReviewWriting__Main__Rating__DeliciousButton {
  display: flex;
  flex-direction: row;
  appearance: none;
  cursor: pointer;
  border: 0px;
  border-radius: 0;
  background-color: transparent;
  text-align: center;
  color: #CDCDCD;
}

.ReviewWriting__Main__Rating__Deliciousbutton--Active {
  color: #ff7100
}

.ReviewWriting__Main__Rating__SmileButton {
  display: flex;
  flex-direction: row;
  appearance: none;
  cursor: pointer;
  border: 0px;
  border-radius: 0;
  background-color: transparent;
  text-align: center;
  color: #CDCDCD;
}

.ReviewWriting__Main__Rating__Smilebutton--Active {
  color: #ff7100
}

.ReviewWriting__Main__Rating__SadButton {
  display: flex;
  flex-direction: row;
  appearance: none;
  cursor: pointer;
  border: 0px;
  border-radius: 0;
  background-color: transparent;
  text-align: center;
  color: #CDCDCD;
}

.ReviewWriting__Main__Rating__Sadbutton--Active {
  color: #ff7100
}

.ReviewWriting__Main__Text {
  display: block;
  width: 100%;
  height: 150px;
  border: 0;
  font-size: 16px;
  color: #000000;
  resize: none;
}

.ReviewWriting__Main__Text > textarea:focus {
  outline: none;
}

.ReviewWriting__Main__Text > input {
  outline: none;
}

.ReviewWriting__main__TextLengthBox {
  transform: translateY(20%);
  bottom: -4px;
  text-align: right;
  font-size: 12px;
  line-height: normal;
  color: #7F7F7F;
}


.ReviewWriting__Main__Picture {
  position: relative;
  width: 687px;
  margin-bottom: 41px;
}

.Review__PictureContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 98px;
}

.Review__PictureItem {
  left: 0px;
  top: 0px;
  transform: translateX(0px) translateY(0px);
  display: block;
  touch-action: none;
  user-select: none;
  /* position: inherit; */
  margin-top: 10px;
  margin-right: 9px;
  margin-bottom: 9px;
}

.Review__PictureContainer__AddButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 89px;
  line-height: 89px;
  text-align: center;
  border: 1px dashed #DBDBDB;
  background-color: transparent;
  cursor: pointer;
}

.Review__PictureContainer__AddButtonImg {
  width: 27px;
  height: 27px;
  background-image: url("add.png");
  background-size: cover;
}

.Review__PictureCounter {
  position: absolute;
  display: block;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 89px;
  text-align: right;
  font-size: 12px;
  color: #7F7F7F;
  top: 133px;
  left: 40px;
}

.Review__ButtonsContainer {
  display: flex;
  flex-direction: row;
  width: 678px;
}

.Review__Buttons__Continue {
  min-width: 150px;
  min-height: 50px;
  margin-right: 34px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #CBCBCB;
  border-radius: 50px;
  font-size: 16px;
  color: #CBCBCB;
  text-align: center;
  background-color: #FFFFFF;
  cursor: not-allowed;
}

.Review__Buttons {
  display: flex;
  justify-content: flex-end;
  width: 678px;
}
.Review__Buttons__Cancel {
  min-width: 140px;
  min-height: 50px;
  margin-right: 16px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #7F7F7F;
  border-radius: 50px;
  font-size: 16px;
  color: #7F7F7F;
  text-align: center;
  background-color: #FFFFFF;
}

.Review__Buttons__Submit {
  min-width: 140px;
  min-height: 50px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #E9E9E9;
  border-radius: 50px;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  background-color: #E9E9E9;
  cursor: not-allowed;
}

