{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<h1>{{ person }}님의 프로필</h1>
<img src="{{ person.picture.url }}" alt="123">
<p>팔로워 {{ person.followers.count }}</p>
<p>팔로잉 {{ person.followings.count }}</p>
<form action="{% url 'accounts:follow' person.pk %}" method="post">
  {% csrf_token %}
  {% if user in person.followers.all %}
    <button type="submit">팔로우 취소</button>
  {% else %}
    <button type="submit">팔로우</button>
  {% endif %}
</form>

{% endblock content %}