{% extends 'base.html' %}

{% block title %}
회원정보 수정
{% endblock title %}

{% block content %}
<div class="container ms-auto me-auto mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="{% url 'accounts:update' %}" method="POST" class="my-3" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group my-3">
          {{ form.email.label }}
          {{ form.email }}
        </div>
        <div class="form-group my-3">
          {{ form.nickname.label }}
          {{ form.nickname }}
        </div>
        <div class="form-group my-3">
          {{ form.picture.label }}
          {{ form.picture }}
        </div>
        <div class="form-group my-3">
          {{ form.address.label }}
          {{ form.address }}
        </div>
        <div>
          <button type="submit" class="btn btn-orange mt-3">회원정보 수정</button>
          <a href="{% url 'accounts:change_password' %}" class="btn btn-orange mt-3">비밀번호 변경</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}