{% extends 'base.html' %}

{% load plates_extras %}

{% load static %}

{% block title %}
Detail
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static "plates/detail/detail.css" %}">
{% endblock style %}

{% block content %}
<div class="Nav__ImgContainer">
  <div class="Nav__ImgContainer__ImgBox">
    {% for i in "12345" %}
      {% if review_images_reversed|length > forloop.counter0 %}
        {% for review_image in review_images_reversed|slice:":5" %}
          {% if forloop.counter0 == forloop.parentloop.counter0 %}
            <div class="headimg">
              <img class="Nav__ImgContainer__Img" src="{{ review_image.image.url }}" alt="리뷰이미지">
            </div>
            {% endif %}
        {% endfor %}
      {% else %}
        <div class="headimg">
          <img class="Nav__ImgContainer__Img" src="{% static 'no_image.png' %}" alt="대체이미지">
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<div>
  <div class="d-flex flex-row" style="width:100%; margin-left: 50px;">
    <div class="d-flex justify-content-center" style="width:70%">
      <div class="Detail__Container">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row">
            <h1> {{ post.title }} </h1>
            <h2 class="mx-3" style="line-height:55px; color:#ff7100;"> {{post|get_rating}} </h2>
          </div>
          <div class="d-flex flex-row Detail__Title__Sub">
            
            <button class="Detail__Title__Review">
              <a class="mx-3 Detail__Title__Review__Link" href="{% url 'plates:review_create' post.pk %}">
                <span class="Detail__Title__ReviewText" onmouseover="onHover();" onmouseout="offHover();">
                  <i id="ReviewIcon" class="Detail__Title__ReviewImg"></i>
                  <span>리뷰쓰기</span>
                </span>
              </a>
            </button>
            <form id="bookMark" action="{% url 'plates:likes' post.pk %}" method="POST">
              {% csrf_token %}
              {% if request.user in post.like_users.all %}
              <div class="Detail__Title__Bookmark">
                <button class="Detail__Title__BookmarkImg--Active" type="submit" data-postPk="{{ post.pk }}"></button>
                <span class="Detail__Title__BookmarkText--Active">가고싶다</span>
              </div>
              {% else %}
              <div class="Detail__Title__Bookmark">
                <button class="Detail__Title__BookmarkImg" type="submit" data-postPk="{{ post.pk }}"></button>
                <span class="Detail__Title__BookmarkText">가고싶다</span>
              </div>
              {% endif %}
            </form>
          </div>
        </div>
        <div class="Detail__Status">
          <div><span class="Detail__Status__Cnt"><span class="Detail__Status__Visitor"></span>{{ post.visited }}</span></div>
          <div><span class="Detail__Status__Cnt"><span class="Detail__Status__Review"></span>{{reviews|length}}</span></div>
          <div><span class="Detail__Status__Cnt"><span class="Detail__Status__Bookmark"></span>{{ post.like_users.all.count }}</span></div>
        </div>
        <hr>
        <div>
          <table>
            <tbody>
              <tr>
                <th>주소</th>
                <td>{{ post.address }}</td>
              </tr>
              <tr>
                <th>전화번호</th>
                <td>{{ post.phone_number }}</td>
              </tr>
              <tr>
                <th>음식 종류</th>
                <td>{{ post.restaurant_type }}</td>
              </tr>
              <tr>
                <th>주차</th>
                <td>{{ post.parking }}</td>
              </tr>
              <tr>
                <th>가격대</th>
                <td>{{ post.price_range }}</td>
              </tr>
              <tr>
                <th>휴무일</th>
                <td>{{ post.closed_days }}</td>
              </tr>
            </tbody>
          </table>
          <div class="Detail__Main__Update">업데이트:{{ post.updated_at|date:"Y. m. d" }}</div>
          <hr>
          <table>
            <tr>
              <th>식당소개</th>
              <td>{{ post.description }}</td>
            </tr>
          </table>
          <hr>
          <div>
            <div class="d-flex justify-content-between">
              <h2 class="Detail__Review__ListTitle">
                리뷰 <span class="Detail__Review__ListCount">({{ reviews|length }})</span>
              </h2>          
              <ul class="Detail__Review__FilterList">
                <li class="Detail__Review__FilterItem">
                  <button id="전체_btn" class="Detail__Review__FilterButton filter-btn" data-filter="reviews">
                    전체 <span class="RestaurantReviewList__ReviewCount">{{ reviews|length }}</span>
                  </button>
                </li>
                <li class="Detail__Review__FilterItem">
                  <button id="맛있다_btn" class="Detail__Review__FilterButton filter-btn" data-filter="맛있다">
                    맛있다 <span class="RestaurantReviewList__ReviewCount">{{ 맛있다|length }}</span>
                  </button>
                </li>
                <li class="Detail__Review__FilterItem">
                  <button id="괜찮다_btn" class="Detail__Review__FilterButton filter-btn" data-filter="괜찮다">
                    괜찮다 <span class="RestaurantReviewList__ReviewCount">{{ 괜찮다|length }}</span>
                  </button>
                </li>
                <li class="Detail__Review__FilterItem">
                  <button id="별로_btn" class="Detail__Review__FilterButton filter-btn" data-filter="별로">
                    별로 <span class="RestaurantReviewList__ReviewCount">{{ 별로|length }}</span>
                  </button>
                </li>
              </ul>
            </div>
            <br>
            <ul id="reviews_container">
              <div id="reviews_test">
                {% for review in reviews reversed %}
                  <li class="Detail__Review__List review-item" data-review-id="{{review.pk}}">
                    {% if review.taste_evaluation == 5 %}
                    <a href="{% url 'plates:review_detail' post.pk review.pk %}" class="Detail__Review__Link 맛있다">
                    {% elif review.taste_evaluation == 3 %}
                    <a href="{% url 'plates:review_detail' post.pk review.pk %}" class="Detail__Review__Link 괜찮다">
                    {% elif review.taste_evaluation == 1 %}
                    <a href="{% url 'plates:review_detail' post.pk review.pk %}" class="Detail__Review__Link 별로">
                    {% endif %}
                      <div class="Detail__Review__User">
                        {% if review.user.picture %}
                          <div class="Detail__Review__User__ImgBox"><img class="Detail__Review__User__Img" src="{{ review.user.picture.url }}" alt="유저 이미지"></div>
                        {% else %}
                          <div class="Detail__Review__User__ImgBox"><img class="Detail__Review__User__Img" src="{% static 'no_image.png' %}" alt="대체 이미지"></div>
                        {% endif %}
                        <span class="Detail__Review__User__Name">{{ review.user }}</span>
                        <ul class="Detail__Review__User__Stat">
                          <span class="Detail__Review__User__StatItem--Review"></span><li class="Detail__Review__User__StatItem">{{ review.user.review_set.all|length }}</li>
                          <span class="Detail__Review__User__StatItem--Follower"></span><li class="Detail__Review__User__StatItem">{{ person.followers.all|length }}</li>
                        </ul>
                      </div>
                      <div>
                        <span class="Detail__Review__Date">{{ review.created_at|date:"Y-m-d" }}</span>
                        <p class="Detail__Review__Text">{{ review.content }}</p>
                        <ul class="Detail__Review__PictureList">
                          {% for image in review.review_images.all %}
                          <li class="Detail__Review__PictureItem">
                            <div class="{% if forloop.counter <= 4 %}Detail__Review__PictureImgBox{% else %} Detail__Review__PictureImgBoxHidden{% endif %}">
                              <img class="Detail__Review__PictureImg" src="{{ image.image.url }}" alt="이미지">
                              {% if forloop.counter == 4 %}
                                {% if forloop.revcounter0 > 0 %}
                                  <div class="Detail__Review__PictureImgMore">+{{ forloop.revcounter0 }}</div>
                                {% endif %}
                              {% endif %}
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                      <div class="Detail__Review__TasteEvaluationBox">
                        <i class="Detail__Review__TasteEvaluation--Delicious"></i>
                        {% if review.taste_evaluation == 5 %}
                        <span class="Detail__Review__TasteEvaluationText">맛있다</span>
                        {% elif review.taste_evaluation == 3 %}
                        <span class="Detail__Review__TasteEvaluationText">괜찮다</span>
                        {% elif review.taste_evaluation == 1 %}
                        <span class="Detail__Review__TasteEvaluationText">별로</span>
                        {% endif %}
                      </div>
                    </a>
                    {% if request.user == review.user %}
                      <div class="d-flex justify-content-end" style="margin-bottom: 5px;">
                        <div class="pe-2">
                          <a href="{% url 'plates:review_update' post.pk review.pk %}" style="color: #9B9B9B;">수정</a>
                        </div>
                        <div class="pe-2" style="color: #9B9B9B;">
                          ·
                        </div>
                        <div class="pe-2">
                          <form action="{% url 'plates:review_delete' post.pk review.pk %}" method="POST">
                            {% csrf_token %}
                            <!-- 삭제 Button trigger modal -->
                              <button type="button" data-bs-toggle="modal" data-bs-target="#reviewDelete" style="color: #9B9B9B;">
                                삭제
                              </button>
                              <!-- 삭제 Modal -->
                              <div class="modal fade" id="reviewDelete" tabindex="-1" aria-labelledby="reviewDeleteLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="reviewDeleteLabel">사용자가 리뷰를 삭제하려고 합니다.</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      선택하신 리뷰를 삭제 하시겠습니까?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="Detail__Review__DeleteButton--Cancel" data-bs-dismiss="modal">취소</button>
                                      <button type="submit" class="Detail__Review__DeleteButton--Active">삭제</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </form>                      
                        </div>
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}          
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="Detail__Sidevar">
      <div id="map" data-address="{{ post.address }}" data-title="{{ post.title }}" style="width:100%; height:300px;"></div>
      <div class="Detail__Sidevar__inner">
        <div style="padding-top: 30px;">
          <span class="Detail__Sidevar__innerTitle">주변 인기 식당</span>
          <ul class="Detail__Sidevar__innerRestaurant">
            {% for post in nearby_restaurants %}
            <li class="Detail__Sidevar__innerRestaurant__List">
              <div class="Detail__Sidevar__innerRestaurant__ImgAndContent">
                <a href="{% url 'plates:detail' post.pk %}">
                  {% if post.post_images %}
                    <img class="Detail__Sidevar__innerRestaurant__ImgBox Detail_Sidevar__innerRestaurant__Img" src="{{ post.post_images.first.image.url }}" alt="">
                  {% else %}
                    <img class="Detail__Sidevar__innerRestaurant__ImgBox Detail_Sidevar__innerRestaurant__Img" src="{% static 'no_image.png' %}" alt="">
                  {% endif %}
                </a>
                <div class="Detail__Sidevar__innerRestaurant__Content">
                  <div class="Detail__Sidevar__innerRestaurant__NameBox">
                    <a class="Detail__Sidevar__innerRestaurant__Name" href="{% url 'plates:detail' post.pk %}">{{ post.title }}</a>
                    <span class="Detail__Sidevar__innerRestaurant__Rating"> {{ post|get_rating }} </span>
                  </div>
                  <div class="Detail__Sidevar__innerRestaurant__InfoBox">
                    <dl class="Detail__Sidevar__innerRestaurant__Info">
                      <dt class="Detail__Sidevar__innerRestaurant__InfoLabel">음식 종류:</dt>
                      <dd class="Detail_Sidevar__innerRestaurant__InfoValue">{{ post.restaurant_type }}</dd>
                    </dl>
                    <dl class="Detail__Sidevar__innerRestaurant__Info">
                      <dt class="Detail__Sidevar__innerRestaurant__InfoLabel">위치:</dt>
                      <dd class="Detail__Sidevar__innerRestaurant__InfoValue">{{ post.address }}</dd>
                    </dl>
                    <dl class="Detail__Sidevar__innerRestaurant__Info">
                      <dt class="Detail__Sidevar__innerRestaurant__InfoLabel">가격대:</dt>
                      <dd class="Detail__Sidevar__innerRestaurant__InfoValue">{{ post.price_range }}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" src="/static/plates/detail/detail.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d3a80ca4c67db3a146bfd38d3aeab33b&libraries=services"></script>
<script type="text/javascript" src="{% static 'plates/detail/detail.js' %}"></script>
<script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script>

{% include 'footer.html' %}

{% endblock content %}