{% extends 'base.html' %}
{% load plates_extras %}
{% load static %}

{% block style %}
<style>
  .img-size {
    width: 100%%;
    height: 200px;
  }
  .title-font {
    font-size: 1.5em;
    font-weight: 800;
  }
  .rating {
    line-height: 36px;
    font-size: 1.3em;
    font-weight: 600;
    color: orange;
  }
  .no-rating {
    line-height: 36px;
    font-size: 1.3em;
    color: gray;
    
  }
</style>
{% endblock style %}

{% block title %}
Index
{% endblock title %}

{% block content %}

  {% comment %} {% if user.is_authenticated %}
  <h1>{{ user }}님 안녕하세요!</h1>
  <a href="{% url 'accounts:logout' %}">로그아웃</a>
  {% else %}
  <h1>로그인하세요</h1>
  <a href="{% url 'accounts:login' %}">로그인</a>
  <a href="{% url 'accounts:signup' %}">회원가입</a>
  {% endif %} {% endcomment %}
<div>
  <div>
    <a href="{% url 'plates:create' %}">게시글 작성</a>
  </div>

  <div class="d-flex container">
    <div class="row row-cols-1 justify-content-center row-cols-sm-2 row-cols-md-4">
      {% for post in posts %}
      <div class="card col m-3 p-0" style="width: 18rem;">
        <div>
          {% if post.image %}
            <img class="img-size card-img-top" src="{{ post.image.url }}" alt="img">
          {% else %}
            <img class="img-size card-img-top" src="{% static 'plates/no_image.png' %}" alt="대체이미지">
          {% endif %}
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div class="me-3 title-font">{{ post.title }}</div>
            {% if post|get_rating is not None %}
              <div class="rating">{{ post|get_rating }}</div>
            {% else %}
              <div class="no-rating">0.0</div>
            {% endif %}
          </div>
          <div>{{ post.loc }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>    
  
  
</div>
{% endblock content %}
