{% extends 'base.html' %}
{% load plates_extras %}
{% load static %}

{% block style %}
<style>
  .index-top-img {
    width: 100%;
  }

  .index-filter-title {
    padding: 38px 90px 27px;
    font-size: 1.438rem;
    color: #ff792a;
    line-height: 1.2em;
    text-align: left;
    font-weight: 500;
  }

  .card-img-size {
    width: 220px;
    height: 150px;
  }

  .card-title-font {
    font-size: 1.3rem;
    font-weight: 800;
    color: #555;
  }

  .card-rating {
    line-height: 36px;
    font-size: 1.37rem;
    font-weight: 600;
    color: #ff792a;
  }

  .card-no-rating {
    line-height: 36px;
    font-size: 1.37rem;
    color: #e9e9e9;
  }

  .card-loc-font {
    font-size: 0.9rem;
    color: #9b9b9b;
  }
</style>
{% endblock style %}

{% block title %}
Index
{% endblock title %}

{% block content %}

<div>
  <img src="{% static 'index-top-photo.png' %}" alt="top-img" class="index-top-img">
</div>
<div>

  <div>
    <a href="{% url 'plates:create' %}">게시글 작성</a>
  </div>

  <div class="index-filter-title">
    마포 인기 맛집
  </div>
  <div class="d-flex container">
    <div class="row row-cols-2 row-cols-md-4">
      {% for post in 지역별_맛집 %}
        {% include 'index-card.html' %}
      {% endfor %}
    </div>
  </div>    

  <hr>

  <div class="index-filter-title">
    조회수 높은 인기 식당
  </div>
  <div class="d-flex container">
    <div class="row row-cols-2 row-cols-md-4">
      {% for post in 조회수_맛집 %}
        {% include 'index-card.html' %}
      {% endfor %}
    </div>
  </div>    

  <hr>

  <div class="index-filter-title">
    평점이 높은 인기 식당
  </div>
  <div class="d-flex container">
    <div class="row row-cols-2 row-cols-md-4">
      {% for post in posts %}
        {% if post|get_rating >= 4 %}
          {% include 'index-card.html' %}
        {% endif %}
      {% endfor %}
    </div>
  </div> 
</div>

{% include 'footer.html' %}

{% endblock content %}