{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "plates/detail/detail.css" %}">
<style>
  body {
    background-color: #E9E9E9;
  }
</style>
{% endblock style %}

{% block content %}
<div class="Review__Detail__Container" style="width: 720px;">
  <div class="Review__Detail__Card">
    <div class="Detail__Review__Detail" style="padding: 0;">
      <div class="Detail__Review__Detail__User">
        <a href="{% url 'accounts:profile' review.user %}">
          <div class="d-flex flex-row">
            {% if review.user.picture %}
            <div><img class="Detail__Review__Detail__UserImg" src="{{ review.user.picture.url }}" alt="프로필이미지"></div>
            {% else %}
            <div class="Detail__Review__Detail__UserImg">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16" class="dropdown-toggle" type="button" data-bs-toggle="Detail__Review__Detail__UserImg" aria-expanded="false">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
            </div>
            {% endif %}
            <div class="Detail__Review__Detail__UserInfo">
              <span class="Detail__Review__Detail__UserName">{{ review.user }}</span>
              <ul class="Detail__Review__Detail__Count">
                <span class="Detail__Review__User__StatItem--Review" style="margin-right: 5px;"></span><li class="" style="margin-right: 5px;">{{ review.user.review_set.all|length }}</li>
                <span class="Detail__Review__User__StatItem--Follower" style="margin-right: 5px;"></span><li class="" style="margin-right: 5px;">{{ review.user.followers.all|length }}</li>
              </ul>
            </div>
          </div>
        </a>
        <div class="Detail__Review__Detail__TastEvaluation">
          {% if review.taste_evaluation == 5 %}
            <i class="Detail__Review__TasteEvaluation--Delicious"></i>
            <span class="Detail__Review__TasteEvaluationText">맛있다</span>
          {% elif review.taste_evaluation == 3 %}
            <i class="Detail__Review__TasteEvaluation--Smile"></i>
            <span class="Detail__Review__TasteEvaluationText">괜찮다</span>
          {% elif review.taste_evaluation == 1 %}
            <i class="Detail__Review__TasteEvaluation--Sad"></i>
            <span class="Detail__Review__TasteEvaluationText">별로</span>
          {% endif %}
        </div>
      </div>
      <div>  
        <p class="Detail__Review__Text">{{ review.content }}</p>
      </div>
      <div class="Detail__Review__Detail__ImgContainer">  
        {% if review_images %}
        {% for image in review_images %}
          <button type="button" class="Detail__Review__Detail__ImgBox" data-bs-toggle="modal" data-bs-target="#ReviewDetailImg">
            <img class="Detail__Review__Detail__Img" src="{{ image.image.url }}" alt="리뷰이미지">            
          </button>
          {% endfor %}
        {% endif %}
      </div>
      <span class="Detail__Review__Date">{{ review.created_at|date:"Y-m-d" }}</span>
    </div>
  </div>
</div>

{% comment %} Modal {% endcomment %}
<div class="modal fade" id="ReviewDetailImg" tabindex="-1" aria-labelledby="ReviewDetailImgLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="position: static; margin-left: 23%; margin-right: 25%;">
    <div class="modal-content text-end" style="background-color: #000000; width: 1000px;">
      <div class="modal-body" style="width: 1000px;">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        {% comment %} carousel {% endcomment %}
        <div id="ReviewDetailImgIndicators" class="carousel slide" data-bs-interval="100">
          <div class="carousel-inner">
            {% for image in review_images %}
              {% if forloop.first %}
              <div class="carousel-item text-center active " data-bs-slide-to="{{ forloop.counter0 }}">
                <img class="Review__Detail__CarouselImg" src="{{ image.image.url }}" alt="리뷰이미지">  
              </div>
              {% else %}
              <div class="carousel-item text-center" data-bs-slide-to="{{ forloop.counter0 }}">
                <img class="Review__Detail__CarouselImg" src="{{ image.image.url }}" alt="리뷰이미지">  
              </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="Carousel__Indicators">
            {% for image in review_images %}
              {% if forloop.first %}
              <div class="Review__Detail__FooterImgbox">
                <button type="button" data-bs-target="#ReviewDetailImgIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="active" aria-current="true" aria-label="Slide {{ forloop.counter }}">
                  <img class="Review__Detail__FooterImg" src="{{ image.image.url }}" alt="리뷰이미지">
                </button>
              </div>
              {% else %}
              <div class="Review__Detail__FooterImgbox">
                <button type="button" data-bs-target="#ReviewDetailImgIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="active-none" aria-label="Slide {{ forloop.counter }}">
                  <img class="Review__Detail__FooterImg" src="{{ image.image.url }}" alt="리뷰이미지">
                </button>
              </div>
              {% endif %}
            {% endfor %}
          </div>
          <div>
            <button class="carousel-control-prev" type="button" data-bs-target="#ReviewDetailImgIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#ReviewDetailImgIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"+3-00.3+0></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="{% static 'plates/detail/review_detail.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

{% endblock content %}