{% extends 'base.html' %}

{% load static %}

{% block title %}
Review Update
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static "plates/review/review.css" %}">
{% endblock style %}

{% block content %}
<form id="uploadForm" action="{% url 'plates:review_update' post.pk review.pk %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="ReviewWriting__Container">
    <div class="ReviewWriting__head">
      <strong class="ReviewWriting__RestaurantName">{{ post.title }}</strong>
      <div class="ReviewWriting__SubText">
        <span>에 대한 솔직한 리뷰를 써주세요</span>
      </div>
    </div>
    <div class="ReviewWriting__Main">
      <select name="taste_evaluation" id="taste_evaluation">
        <option type="button" class="ReviewWriting__Main__Rating__DeliciousButton" value='5'>
          <i class="ReviewWriting__Main__RatingImage--Delicious ReviewWriting__Main__RatingImage--Delicious--None"></i>
          <span>맛있다</span>
        </option>
        <option type="button" class="ReviewWriting__Main__Rating__SmileButton" value='3'>
          <i class="ReviewWriting__Main__RatingImage--Smile ReviewWriting__Main__RatingImage--Smile--None"></i>
          <span>괜찮다</span>
        </option>
        <option type="button" class="ReviewWriting__Main__Rating__SadButton" value='1'>
          <i class="ReviewWriting__Main__RatingImage--Sad ReviewWriting__Main__RatingImage--Sad--None"></i>
          <span>별로</span>
        </option>
      </select>
      <div class="ReviewWriting__Main__Text">
        {{ review_form.content }}
      </div>
    </div>
    <p class="ReviewWriting__main__TextLengthBox">
      <span class="ReviewWriting__main__TextLength" id="ReviewWriting__main__TextLength">0</span>
      <span>/</span>
      <span>10000</span>
    </p>
    <div class="ReviewWriting__Main__Picture">
      {{ imageForm }}
    </div>
    <div class="Review__ButtonsContainer">
      <button type="submit" class="Review__Buttons__Continue Review__Buttons__Continue--Deactive">나중에 이어쓰기</button>
      <div class="Review__Buttons">
        <a href="{% url 'plates:detail' post.pk %}"><button type="button" class="Review__Buttons__Cancel">취소</button></a>
        <input type="submit" class="Review__Buttons__Submit" value="리뷰 올리기" id="reviewSubmit">         
      </div>
    </div>
  </div>
</form>

{% block script %}
<script type="text/javascript" src="{% static 'plates/review/review.js' %}"></script>
<script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script>
{% endblock script %}


{% endblock content %}
