{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div>
      <ul>
        {% if user.is_authenticated %}
        <div>
          <a href="{% url 'account_email' %}" class="nav-dropdown-account-font">{% trans "Change E-mail" %}</a></i>
          <a href="{% url 'account_logout' %}" class="nav-dropdown-account-font">{% trans "Sign Out" %}</a></li>
        </div>
        {% else %}
        <div>
          <a href="{% url 'account_login' %}" class="nav-dropdown-account-font">{% trans "Sign In" %}</a></li>
          <a href="{% url 'account_signup' %}" class="nav-dropdown-account-font">{% trans "Sign Up" %}</a></li>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="nav-dropdown-account-font">{% trans "카카오 로그인" %}</button>
          </form>
          {% endif %}
        </div>
        
      </ul>
    </div>



{% endblock content %}
