{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block style %}
  <style>
    .accounts-container {
      width: 320px;
      height: 500px;
      margin: 20px auto;
    }

    .accounts-box {
      padding-top: 20px;
    }

    .kakao-login-font {         
      line-height: 3rem;
      border: none;
      background-color: #FFFFFF;
    }
    
    .accounts-font {
      text-decoration: none;
      color: #FF7100;
      font-size: 16px;
      height: 50px;
      border: 2px solid #ff792a;
      border-radius: 50px;
      display: block;
      text-align: center;
      line-height: 3rem;
    }

  </style>
{% endblock style %}

{% block content %}

<div class="accounts-container">
  <div class="accounts-box">
    <a href="{% url 'account_login' %}" class="accounts-font">
      로그인
    </a>
  </div>

  <div class="accounts-box">
    <a href="{% url 'account_signup' %}" class="accounts-font">
      회원가입
    </a>
  </div>

  <div class="accounts-box">
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="kakao-login-font">
        <img src="{% static 'plates/kakao_login_medium_wide.png' %}" alt="kakao-login" style="width: 310px;">
      </button>
    </form>
  </div>
</div>

{% endblock content %}