<footer>
  <div class="footer-inner">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col">
        <a href="/">
          <img class="mp_logo_img" src="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/mangoplate-gray-logo.svg" alt="mangoplate logo">
        </a>
        <div style="color: #6a6a6a;">Eat, Share, Be Happy.</div>
      </div>
      <div class="col">
        <ul class="footer-list">
          <li><a href="https://www.mangoplate.com/company">회사소개</a></li>
          <li><a href="https://www.mangoplate.com/careers">망고플레이트 채용</a></li>
          <li><a href="https://www.mangoplate.com/investment">투자 정보</a></li>
          <li><a href="https://www.mangoplate.com/etc/download_company_ci">브랜드 가이드라인</a></li>
          <li><a href="https://www.mangoforbiz.com/?utm_campaign=main_bottom_business&amp;utm_medium=bizhome&amp;utm_source=web">망고플레이트 비즈니스</a></li>
          <li><a href="https://www.mangoforbiz.com/?utm_campaign=20180116v1&amp;utm_medium=main_bottom_adinquiry&amp;utm_source=mp_web">광고 문의</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="footer-list">
          <li><a href="https://www.mangoplate.com/notice">공지사항</a></li>
          <li><a href="https://www.mangoplate.com/terms/contract">이용약관</a></li>
          <li><a href="https://www.mangoplate.com/terms/contract_non_signup">비회원 이용자 이용정책</a></li>
          <li><a href="https://www.mangoplate.com/terms/privacy">개인정보처리방침</a></li>
          <li><a href="https://www.mangoplate.com/terms/location">위치기반서비스 이용약관</a></li>
          <li><a href="https://www.mangoplate.com/terms/community_guidelines">커뮤니티 가이드라인</a></li>
          <li><a href="https://www.mangoplate.com/terms/youth_protection">청소년보호정책</a></li>
          <li><a href="https://brunch.co.kr/@mangoplate/14">홀릭 소개</a></li>
          <li><a href="https://www.mangoplate.com/company#contact">문의하기</a></li>
        </ul>
      </div>
    </div>
    <div class="loc-keywords">
      인기지역 : 이태원 | 홍대 | 강남역 | 가로수길 | 신촌 | 명동 | 대학로 | 연남동 | 부산 | 합정 | 대구 | 여의도 | 건대 | 광화문 | 일산 | 제주 | 경리단길 | 한남동 | 삼청동 | 대전 | 종로 | 서촌 | 잠실 | 사당역 | 인천 | 코엑스 | 상수 | 서래마을 | 송도 | 왕십리 | 분당 | 혜화 | 고속터미널
    </div>
    <div style="color: #9b9b9b; font-size: 0.875rem;">
      created by 고봉진 변지윤 안정환 정세호
    </div>
  </div>
</footer>